<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

<div class="container-fluid">
  <div class="row gx-2">
    <div style="display: flex" class="col-sm-auto justify-content-center">
      <img src="../assets/Wavy_Gen-01_Single-07.jpg">
    </div>
    <div class="col-sm container teste" id="login-contour">
      <div id="login-container" style="background-color: rgba(91, 63, 214, 0.616);">
        <h1>Bem vindo ao Coverboxd! </h1>
      </div>
    </div>
  </div>
</div>
