<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

<div class="container-fluid">
  <div class="row gx-2">
    <div style="display: flex" class="col-sm-auto justify-content-center">
      <img src="../assets/Wavy_Gen-01_Single-07.jpg">
    </div>
    <div class="col-sm-5 col-11 container teste rounded-4 p-2">
      <div id="login-container" class="rounded-3 p-3" style="background-color: rgba(91, 63, 214, 0.616);">
        <h1>Bem vindo ao BookWorm! </h1>
        <h6>Seu diário digital para amantes de livros! Aqui você pode registrar suas leituras, avaliar obras, criar listas personalizadas e compartilhar suas opiniões com uma comunidade vibrante de leitores. Descubra novos títulos, siga amigos e autores, e acompanhe seu progresso de leitura de uma maneira fácil e divertida!
          <br> Já tem conta? Faça login abaixo ou <u class="cursor-pointer" (click)="teste()">cadastre-se agora!</u> 
        </h6>
        <form action="/action_page.php">
          <div class="mb-3 mt-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
          </div>
          <div class="mb-3">
            <label for="pwd" class="form-label">Senha:</label>
            <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
          </div>
          <div class="row px-3 justify-content-between">
            <div class="form-check mb-3 col-6">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" name="remember"> Lembrar de mim
              </label>
            </div>
            <u class="col-auto px-0 cursor-pointer">Esqueceu sua senha?</u>
          </div>
          <button type="submit" class="btn btn-light float-end my-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
