/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body {
    height: 100vh;
    align-items: center;
    display: grid;
}
img {
    max-width: 600px;
    width: -webkit-fill-available;
}

#login-container {
    height: 100%;

    font-family: Cabin;
    color: white;
}

.teste{
    border: 2px solid #7702bd;
}

.cursor-pointer {
    cursor: pointer;
}